.logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-inline-end: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
